<script src="/public/vendor/jquery/jquery-2.1.4.min.js"></script>
<script src="/public/vendor/bootstrap-v3/js/bootstrap.min.js"></script>
<script src="/public/assets/js/app.js"></script>
<script src="/public/assets/js/install.min.js"></script>
</body>
</html>