<script src="/public/vendor/jquery/jquery-2.1.4.min.js"></script>
<script src="/public/vendor/bootstrap-v3/js/bootstrap.min.js"></script>
<script src="/public/assets/js/app.js"></script>
<script src="/public/assets/js/script.min.js"></script>
{% if js == true %}
    <script type="text/javascript" src="/public/assets/js/roulette.min.js"></script>
{% endif %}
</body>
</html>