<!DOCTYPE html>
<html lang="{{ lang._('lang') }}">
<head>
    <title>Admin Panel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/public/vendor/bootstrap-v3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/CLEditor/jquery.cleditor.css">
    <link rel="stylesheet" href="/public/assets/css/costum.css">
    <link rel="stylesheet" href="/public/assets/css/basic.css">
    <link rel="stylesheet" href="/public/assets/css/roulette.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/public/assets/ico/wow.ico" type="image/x-icon">
</head>
<body class="skin-blue layout-boxed sidebar-mini" data-path="{{ app_path }}">